body {
    margin: 0;
    background: #8AFFC1;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid #A288E3;
    display: flex;
    flex-direction: column;
    color: #000000;
}

header {
    position: sticky;
    width: 100%;
    z-index: 100;
    background-color: #4fb477;
    border: 1px solid #000102; 
    padding: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    top: 0; 
    text-align: left;
}

header img{
    width: 100px;  
    height: auto;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif, 'Arial Narrow Bold', sans-serif;
    font-size: 52px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
* {
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;
}


.left {
    display: flex;
    flex-direction: column;
    width: 25%;  
    justify-content: space-between;
}

.left-section img {
    width: 100%; 
    height: auto; 
    border: 2px solid black; 
    border-radius: 4px; 
}

.infoSection img {
    width: 100%; 
    height: auto; 
    border: 2px solid black; 
    border-radius: 4px; 
    object-fit: contain;
    max-width: 100%;
}

.infoSection {
    width: 500px; 
    height: auto; 
    border-radius: 4px; 
    object-fit: contain;
}

.left img {
    width: 100%;
    height: auto;
    margin-bottom: 20px; 
    border: 2px solid black; 
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.hometext {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 0 20px;
    align-items: center;
    text-align: center;
    line-height: 1.8;
    width: 50%;  
}

.center p {
    margin-bottom: 20px; 
    margin-bottom: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    width: 25%;  
    border: 1px solid #ccc; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: center;
    background-color: #A288E3;
    font-size: 24px;
}

.flex-item {
    display: flex;
    align-items: center;  
    margin-bottom: 20px; 
}

.flex-item img {
    width: 200px;  
    height: auto;
    margin-right: 10px; 
    border: 2px solid black; 
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  
}

.flex-item a {
    text-decoration: none;
    color: #333;  
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2FBF71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.flex-item a:hover {
    color: #4810d6;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 20px; /* Space between grid items */
    padding: 20px;
    }
  
    .grid-item {
        text-align: center;
    }
  
.grid-item img {
    width: 100%; 
    height: auto;
    border-radius: 8px; 
    border: 2px solid black; 
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    }
  
.grid-item button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2FBF71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    }
  
.grid-item button:hover {
    background-color: #A288E3;
    }


.grid-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    width: 800px;
    background-color: #2FBF71;
    color: white;
    text-align: center;
    font-size: 16px;
    border: white;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    }

.grid-button:hover {
    background-color: #A288E3;
    }

.cpuinfoSection img {
    width: 100%; 
    height: auto; 
    border: 2px solid black; 
    border-radius: 4px; 
    object-fit: contain;
    max-width: 100%;
    }

.cpuinfoSection {
    width: 500px; 
    height: auto; 
    border-radius: 4px; 
    object-fit: contain;
    }

.grid-title {
    text-align: center;
}

@media (max-width: 1024px) {
    body {
      font-size: 14px;
      padding: 10px;
      background-color: #A288E3;
    }
    header {
        background-color: aqua;
    }
    .right {
        background-color: #8AFFC1;
    }
}
 
  @media (max-width: 1024px) {
    .flex-item img {
        width: 100px;
        height: auto;
    }
  .grid-button:hover {
    background-color: aqua;
    }
    .grid-item button:hover {
        background-color: aqua;
    }

}

@media (max-width: 768px) {
    body {
      font-size: 12px;
      padding: 5px;
      background-color: #FFFFC7;
    }
    h2 {
        font-size: 12px;
    }
    header {
        background-color: #548687;
    }
    .right {
        background-color: #FCAA67;
    }
    .grid-button:hover {
        background-color: #B0413E;
    }
        .grid-item button:hover {
            background-color: #B0413E;
    }
  }