body {
    margin: 0;
    background: #36aa53;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #000000;
}

header {
    position: sticky;
    z-index: 1000;
    background-color: #092500;
    font-family: Helvetica, sans-serif; 
    border: 1px solid #0080ff; 
    padding: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    top: 0;
    width: 100%; 
    text-align: left;
}

h1 {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 52px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
* {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;
}

.left {
    display: flex;
    flex-direction: column;
    width: 25%;  
    justify-content: space-between;
}

.left-section img {
    width: 100%; 
    height: auto; 
    border: 2px solid black; 
    border-radius: 4px; 
}

.left img {
    width: 100%;
    height: auto;
    margin-bottom: 20px; 
    border: 2px solid black; 
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.hometext {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 0 20px;
    align-items: center;
    text-align: center;
    line-height: 1.8;
    width: 50%;  
}

.center p {
    margin-bottom: 20px; 
    margin-bottom: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    width: 25%;  
    border: 1px solid #ccc; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.flex-item {
    display: flex;
    align-items: center;  
    margin-bottom: 20px; 
}

.flex-item img {
    width: 50px;  
    height: auto;
    margin-right: 10px; 
    border: 2px solid black; 
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  
}

.flex-item a {
    text-decoration: none;
    color: #333;  
    font-size: 16px;
    font-weight: bold;
}

.flex-item a:hover {
    color: #007BFF;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 20px; /* Space between grid items */
    padding: 20px;
    }
  
    .grid-item {
        text-align: center;
    }
  
.grid-item img {
    width: 100%; 
    height: auto;
    border-radius: 8px; 
    border: 2px solid black; 
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    }
  
.grid-item button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    }
  
.grid-item button:hover {
    background-color: #0056b3;
    }


.grid-button {
    display: block;
    margin: 30px auto 0; 
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    }